---
import LibraryIcon from "@/icons/Library.astro";
import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SideMenuCard from "./SideMenuCard.astro";

import { playlists } from '@/lib/data';
---

<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-900 rounded-lg p-4">
        <ul>
            <SideMenuItem href="/">
                <HomeIcon />
                Home
            </SideMenuItem>
            <SideMenuItem>
                <SearchIcon />
                Search
            </SideMenuItem>
        </ul>
    </div>

    <div class="bg-zinc-900 rounded-lg p-2 h-full p-4">
        <ul>
            <SideMenuItem>
                <LibraryIcon />
                Your Library
            </SideMenuItem>

            {

                playlists.map( playList => <SideMenuCard  playList={playList} /> )


            }

        </ul>
    </div>
</nav>
